body
{
	background:#303030;
}

#canvasBg
{
	display:block;
	background:#ffffff;
	margin:100px auto 0px;
}

#canvasIng, #canvasHero, #canvasBad, #canvasLine, #canvasHUD
{
	display:block;
	margin:-500px auto 0px;
}
